#Head{
    font-size: 3em;
}

#add{
    background-color: #555555; /* Green */
    border: 1px;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    
    border-radius: 12px;
}

div{
    text-align: center;
}

ul{
    padding-bottom: 2%;
    list-style-type: none;
}

li{
    padding: 1%;
}
